/* link active */
.active::after {
  content: '';
  height: 2px;
  width: 36px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #222222;
  border-radius: 20px;
}

/* hover underline */
li {
  position: relative;
  cursor: pointer;
}
li::after {
  content: '';
  height: 2px;
  width: 36px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #222222;
  transform: scaleX(0);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: left;
  border-radius: 20px;
}
li:hover::after {
  transform: scaleX(1);
}
/* mobile menu */
.mobile_menu_up {
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.mobile_menu_down {
  transform: scaleY(1);
  transform-origin: top;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
/* CartBag */
#bag_move_btn {
  clip-path: polygon(46% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 80%);
}
#scroll-cart {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 70px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 70px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.hidden_cart {
  display: none;
}
