.f-up {
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  transition: all;
  transition-duration: 0.3s;
}
.f-down {
  position: relative;
  transform-origin: top;
  transform: scaleY(1);
  transition: all;
  transition-duration: 0.3s;
}
.c-outline {
  outline: 2px solid black;
  outline-offset: 5px;
}
.c-not-outline {
  outline: 0;
}
