.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper_item {
  background-image: url(../../../assets/img/slideshow-pattern.png);
  background-color: #ecc8c5;
  background-repeat: no-repeat;
  background-size: cover;
}
.summer::before {
  content: '';
  width: 50px;
  height: 3px;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 0px;
}

/* hover underline */
.btn {
  position: relative;
  cursor: pointer;
}
.btn::after {
  content: '';
  height: 2px;
  width: 80px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #222222;
  transform: scaleX(0.5);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: left;
  border-radius: 20px;
}
.btn:hover::after {
  transform: scaleX(1);
}
/* swiper pagination */
.swiper-pagination {
  display: flex;
  gap: 20px;
}
.swiper-pagination-bullets {
  margin-left: 20px;
  margin-bottom: 15px;
}
.swiper-pagination-bullet {
  background-color: red !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #222222 !important;
  outline: 1px solid #222222;
  outline-offset: 10px;
}
